<section id="staff" class="section-staff text-center">
    <div class="container">
        <div class="row">
            {{ page.content }}
            <div class="staff-wrapper">
                {% for item in page.header.features %}
                {% if loop.index==1 %}
                <div class="col-md-6 col-lg-offset-3 owner">
                {% else %}
                <div class="col-md-4">
                {% endif %}
                    <div class="card" data-toggle="modal" data-target="#bio-{{loop.index}}">
                      {% if item.image %}
                        <img src="{{ page.media.images[item.image].url }}" alt="{{ item.title}}" />
                      {% endif %}
                        <div class="card-block">
                            {% if item.title %}
                                <h4 class="card-title">{{ item.title }}</h4>
                            {% endif %}
                            {% if item.subtitle %}
                                <h6 class="card-subtitle text-muted">{{ item.subtitle }}</h6>
                            {% endif %}
                        </div>
                    </div>

                    {% if item.text %}
                    <div class="modal fade" id="bio-{{loop.index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          <h4 class="modal-title">{{ item.title }}'s Bio</h4>
                        </div>
                        <div class="modal-body">
                          {{ item.text}}
                        </div>
                      </div>
                    </div>
                  </div>
                    {% endif %}

                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
